<section class="details-container">
  <figure *ngIf="thumbnailUrl; else noThumbnail" class="no-margin">
    <img [alt]="details?.title" [src]="thumbnailUrl" class="img-holder">
  </figure>
  <ng-template #noThumbnail>
    <div class="img-holder no-img">
      <i class="material-icons primary">insert_photo</i>
      <strong>Cover not available</strong>
    </div>
  </ng-template>

  <div class="book-info-wrapper">
    <p class="details">
      <label>
        <strong>Title:</strong>
        <span>{{details?.title}}</span>
      </label>
      <label>
        <strong>{{details?.authors?.length > 1 ? 'Authors: ' : 'Author: '}}</strong>
        <span *ngFor="let author of details?.authors; let i = index">{{author.name}}
        <span *ngIf="details?.authors?.length > 1 && i < details?.authors.length - 1">, </span>
      </span>
      </label>
      <label>
        <strong>{{details?.publishers?.length > 1 ? 'Publishers: ' : 'Publisher: '}}</strong>
        <span *ngFor="let publisher of details?.publishers; let i = index">{{publisher.name}}
        <span *ngIf="details?.publishers?.length > 1 && i < details?.publishers.length - 1">, </span></span>
      </label>
      <label>
        <strong>Publish Date:</strong>
        <span>{{details?.publish_date}}</span>
      </label>
      <label>
        <strong>ISBN:</strong>
        <span>{{isbn}}</span>
      </label>
      <label *ngIf="details?.number_of_pages">
        <strong>Numbers of Pages:</strong>
        <span>{{details?.number_of_pages}}</span>
      </label>
    </p>

    <a [href]="infoUrl" target="_blank">Click to see more about this book</a>
  </div>
</section>
